ezpublish-community/vendor/
ezpublish-community.php~
ezpublish-community/nbproject/
ezpublish-community/.idea/
ezpublish-community/bin/behat
ezpublish-community/bin/phpunit
ezpublish-community/ezpublish/cache/
ezpublish-community/ezpublish/logs/
ezpublish-community/ezpublish_legacy
ezpublish-community/ezpublish/config/parameters.yml
ezpublish-community/ezpublish/config/ezpublish_prod.yml
ezpublish-community/ezpublish/config/ezpublish_dev.yml
ezpublish-community/ezpublish/sessions
ezpublish-community/web/index_treemenu.php
ezpublish-community/web/index_rest.php
ezpublish-community/web/index_cluster.php
ezpublish-community/web/bundles/
ezpublish-community/web/design
ezpublish-community/web/extension
ezpublish-community/web/share
ezpublish-community/web/var
ezpublish-community/web/.htaccess
ezpublish-community/composer.phar
ezpublish-community/composer.lock
.buildpath
.project
.settings/
.idea
.vagrant

